body {
	font-family: Arial;
	font-size: 14px;
}

h3 {
	color: #42a2e4;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
}

p {
	margin: 10px 0;
	padding: 0;
}

.none {
	display: none;
}

.article {
	margin-bottom: 20px;
}

.news__author {
  color: #666;
  font-size: 15px;
  font-weight: 600;
}

.news__author span:first-child {
	border-left: 3px solid #42a2e4;
	padding-left: 10px;
}

.news__text {
	margin-left: 20px;
	font-style: italic;
}


