body {
	font-family: Arial;
	font-size: 14px;
}

h3 {
	color: #42a2e4;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
}

p {
	margin: 10px 0;
	padding: 0;
}

.none {
	display: none;
}

.article {
	margin-bottom: 20px;
}

.news {
  width: 800px;
}

.news__author {
  color: #666;
  font-size: 15px;
  font-weight: 600;
}

.news__author span:first-child {
	border-left: 3px solid #42a2e4;
	padding-left: 10px;
}

.news__text {
	margin-left: 20px;
	font-style: italic;
}

.news__big-text {
	margin-left: 20px;
}

.news__count {
	color: #42a2e4;
	font-size: 13px;
	text-transform: uppercase;
}

.form-submit {
	margin-bottom: 15px;
}

.test-input,
.test-input-button {
	padding: 10px;
	color: #333;
	margin-left: 20px;
	border-radius: 5px;
	background-color: #fff;
	border: 1px solid grey;
}

.test-input-button {
	color: #666;
}

.add__author, .add__text, .add__checkrule, .add__btn {
	display: block;
	padding: 10px;
	margin: 15px;
}

.add__btn {
  box-sizing: content-box;
  color: #FFF;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  background: #007DDC;
}

.add__btn:disabled {
  background: #CCC;
  color: #999;
}

